.name1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    position: absolute;
    top: 5vh;
    left: 50px;
    cursor: default;
}

.name1 h2 {
    font-weight: 300;
    font-size: 30px;
}

.line1 {
    top: 190px;
    position: relative;
    padding: 2px;
    background: #54e346;
}

.proj1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    top: 280px;
    padding: 10px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
    background-color: #54e346;
    color: #222832;
    margin-bottom: 90px;
    cursor: pointer;
    border-radius: 6px;
    transition: .2s linear;
}

.proj1 a {
    color: #222832;
}

.proj1:hover {
    background: #79d70f;
}

.c {
    display: inline-block;
    transform: rotate(-25deg);
}

.contact-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 50px;
    top: 350px;
}

.contact-info a {
    margin: 0 40px;
    transition: .3s linear;
    cursor: pointer;
}

.contact-info a:hover {
    color: #79d70f;
}