* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    src: url(../sans.ttf);
    font-family: 'Product';
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
    background: #111;
    color: #fff;
    font-family: 'Product';
    height: 100vh;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
}

@keyframes animate {
	25%{
		background-position: left bottom;
	}
	50%{
		background-position: right bottom;
	}
	75%{
		background-position: right top;
	}
	100%{
		background-position: left top;
    }
}

a {
    color: white;
}

ul {
    cursor: default;
}

.menu {
    font-size: 24px;
    position: fixed;
    float: right;
    right: 20px;
    top: 20px;
    z-index: 10;
    cursor: pointer;
}


.tab {
    position: fixed;
    right: 0;
    top: 0;
    height: 70px;
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    z-index: 10;
    text-align: center;

}

.tab ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tab li {
    margin: 0 30px;
    display: inline;
} 

.tab li a {
    transition: .2s linear;
}

.tab li a:hover {
    color: #54e346;
}

section {
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name h2 {
    font-size: 25px;
    font-weight: 300;
    position: relative;
    top: 15px;
    left: 35px;
}

.name h5 {
    position: relative;
    bottom: 10px;
    left: 10px;
}

.name p {
    font-weight: 900;
    font-size: 100px;
}

.active {
    color: #54e346;
}

.j {
    color: #54e346;
}

ul .fas {
    color: #54e346;
}

.close {
    font-size: 22px;
    cursor: pointer;
    transition: .2s linear;
}

.close:hover{
    color: #ec4646;
}

.about-me {
    max-width: 700px;
    text-align: justify;
    font-size: 24px;
}

@media(max-width: 1210px) {
    .tab li {
        font-size: 13px;
    }
    .close {
        position: relative;
    }
    .tab li {
        margin: 20px;
    }
    .about-me {
        max-width: 300px;
        font-size: 20px;
    }
}