* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    src: url(../sans.ttf);
    font-family: 'Product';
}

input, textarea {
    outline: none
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
    background: #111;
    color: #fff;
    font-family: 'Product';
    height: 100vh;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
}

@keyframes animate {
	25%{
		background-position: left bottom;
	}
	50%{
		background-position: right bottom;
	}
	75%{
		background-position: right top;
	}
	100%{
		background-position: left top;
    }
}

a {
    color: white;
}

ul {
    cursor: default;
}

h1 {
    font-size: 30px;
}

.menu {
    font-size: 24px;
    position: fixed;
    float: right;
    right: 20px;
    top: 20px;
    z-index: 10;
    cursor: pointer;
}


.tab {
    position: fixed;
    right: 0;
    top: 0;
    height: 70px;
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    z-index: 10;
    text-align: center;

}

.tab ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tab li {
    margin: 0 30px;
    display: inline;
} 

.tab li a {
    transition: .2s linear;
}

.tab li a:hover {
    color: #54e346;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name {
    cursor: default;
}

.name h2 {
    font-size: 25px;
    font-weight: 300;
    position: relative;
    top: 15px;
    left: 35px;
}

.name h5 {
    position: relative;
    bottom: 10px;
    left: 10px;
}

.name p {
    font-weight: 900;
    font-size: 100px;
}

.active {
    color: #54e346;
}

.j {
    color: #54e346;
}

ul .fas {
    color: #54e346;
}

.close {
    font-size: 22px;
    cursor: pointer;
    transition: .2s linear;
}

.close:hover{
    color: #ec4646;
}

.about-me {
    max-width: 700px;
    text-align: justify;
    font-size: 24px;
    line-height: 2rem;
}

.project {
    max-width: 700px;
    text-align: center;
}

.project p {
    position: relative;
    top: 10px;
}

#project h1 {
    position: relative;
    bottom: 30px;
}

#project img {
    width: 500px;
    border-radius: 6px;
    display: block;
    cursor: pointer;
}

.outline:hover {
    transform: scale(1.05);
}

.outline {
    padding: 4px;
    background-color: #54e346;
    border-radius: 6px;
    display: inline-block;
    overflow: hidden;
    transition: .5s ease;
    box-shadow: 5px 5px 10px #000;
}

.overlay a {
    font-size: 30px;
}

::placeholder {
    font-family: inherit;
}

form input, textarea {
    display: block;
    border-radius: 6px;
    width: 250px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    color: white;
    border: none;
    border-bottom: 2px solid #333;
    font-family: inherit;

}

form {
    color: #f9f9f9;
}

form .username {
    height: 30px;
}

form textarea {
    height: 80px;
    margin-top: 20px;
    box-sizing: border-box;
    resize: none;
}

#contact {
    text-align: left;
}

#contact h1 {
    position: relative;
    bottom: 30px;
}

#contact .submit {
    display: block;
    margin-top: 20px;
    height: 30px;
    background: #54e346;
    color: #333;
    font-weight: 500;
    cursor: pointer;                                
}

.contact {
    text-align: center;
}

.icons {
    position: relative;
    font-size: 22px;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons i {
    cursor: pointer;
    margin: 0 40px;
    color: white;
    transition: .5s ease;

}

.icons i:hover {
    color: #54e346;
    transform: translateY(-5px);
}

@media(max-width: 1210px) {
    .tab li {
        font-size: 13px;
    }
    .close {
        position: relative;
    }
    .tab li {
        margin: 20px;
    }
    .about-me {
        max-width: 300px;
        font-size: 17px;
        line-height: 1.7rem;
    }
    .project img {
        max-width: 300px;
    }
    .project p {
        font-size: 13px;
    }
    .icons {
        display: flex;
        justify-content: space-evenly;
    }
    .icons i {
        margin: 0;
    }
}